{{nav-bar}}
<div id="container">
	<div id="ms-log"></div>
	{{outlet}}
</div>
	<span>有任何意见和建议,你可以<code>加入微信群</code>, 联系游戏角色:<code>ciderw</code>/<code>adu1</code>, 或者发送<a href="mailto:jfhb@qq.com"><code>Email</code></a></span>