	<h2 id="title">Welcome to <b>Chinese National Ally</b> <small><abbr title="Chinese National Ally">CNA</abbr></small></h2>
	<h3>欢迎来到<b>华人玩家联盟</b></h3>
	<h3>Our alliance: <b>China National Mass</b> <small>CNM</small></h3>
	<h4>我们的联盟: <b>China National Mass</b> <small>CNM</small></h4>
	<p>Look for Chinese player</p>
	<p>寻找华人玩家</p>
	<p>Look for someone is interesting in China</p>
	<p>寻找一些对中国感兴趣的玩家</p>
	<p>Activity</p>
	<p>活跃玩家</p>
	<p>No BaseXXXX</p>
	<p>不要使用默认的BaseXXXX的名称</p>
	<p>Rename base name before require</p>
	<p>申请加入联盟请先更改基地名称</p>
	<p>Not active will be kicked</p>
	<p>联盟实力值长期不动者踢</p>
{{outlet}}
